<div class="card">
  <div class="card-header">
    <%= @question_number %>. <%= @question.content %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/answer?answer_index=0"><%= @question.answers[0] %></a></li>
    <li class="list-group-item"><a href="/answer?answer_index=1"><%= @question.answers[1] %></a></li>
    <li class="list-group-item"><a href="/answer?answer_index=2"><%= @question.answers[2] %></a></li>
    <li class="list-group-item"><a href="/answer?answer_index=3"><%= @question.answers[3] %></a></li>
  </ul>
</div>
