<h3><%= @question_number %>. <%= @question.content %></h3>
<ul>
  <li><a href="#"><%= @question.answers[0] %></a></li>
  <li><a href="#"><%= @question.answers[1] %></a></li>
  <li><a href="#"><%= @question.answers[2] %></a></li>
  <li><a href="#"><%= @question.answers[3] %></a></li>
</ul>
