<h1>Kayıt ol</h1>
<%= form_for  @user do |f| %>
  <p>Email: <%= f.text_field :email %></p>
  <p>Şifre: <%= f.text_field :password %></p>
  <p>Şifre (tekrar): <%= f.text_field :password_confirmation %></p>
  <p>İsim: <%= f.text_field :name %></p>
<%= f.submit %>
<% end %>
