<%= form_for  @user, html: { class: 'form' } do |f| %>
  <h2>Kayıt ol</h2>
  <div>
    <label>
      Email:
      <%= f.text_field :email, class: 'form-control' %>
      <% if @user.errors[:email] %>
        <span class="error">
          <%= @user.errors[:email].join(', ') %>
        </span>
      <% end %>
    </label>
  </div>
  <div>
    <label>
      Şifre:
      <%= f.password_field :password, class: 'form-control' %>
      <% if @user.errors[:password] %>
        <span class="error">
          <%= @user.errors[:password].join(', ') %>
        </span>
      <% end %>
    </label>
  </div>
  <div>
    <label>
      Şifre (tekrar):
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <% if @user.errors[:password_confirmation] %>
        <span class="error">
          <%= @user.errors[:password_confirmation].join(', ') %>
        </span>
      <% end %>
    </label>
  </div>
  <div>
    <label>
      İsim:
      <%= f.text_field :name, class: 'form-control' %>
      <% if @user.errors[:name] %>
        <span class="error">
          <%= @user.errors[:name].join(', ') %>
        </span>
      <% end %>
    </label>
  </div>
  <%= f.submit class: 'btn btn-primary btn-block' %>
<% end %>
